<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express OIDC Demo</title>
</head>

<body>
    <h1>Welcome</h1>
        <p>
            Hello <%= username %>! Welcome to the express demo. You logged in and authorized the
           to access your resources. 
            
        </p>
        <p>&nbsp;</p>
        <p>           
            If you want to go "WorkAdventure", please <a href="https://play.widev.elumini.com.br?token=<%=token%>"> click here </a>.
        </p>
    </body>
</html>